spring:
  application:
    name : client
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    check-template-location: true
    cache: false
  config:
    import:
      - application-oauth.yml
      - application-jwt.yml


server:
  port: 8080
  forward-headers-strategy: framework
logging:
  level:
    root: INFO
    org:
      springframework:
        web : INFO
        security : INFO
        RestTemplate : INFO

