
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSAFY Auth - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .my-team-title {
            margin: 50px 0 15px 0;
        }
    </style>
    <script type="module" th:src="@{/js/sidebar.js}"></script>

    <!-- 페이지 로딩될 때 데이터 fetch -->
    <script>
        window.onload = function () {
            loadData();
        };

        function loadData() {
            var token = getCookie("access_token")
            $.ajax({
                url: 'http://localhost:8090/api/team',
                type: 'GET',
                contentType: 'application/json',
                headers: {
                    "Authorization": 'Bearer ' + token
                },
                success: function (response) {
                    console.log(response.list)
                    if (response.list) {
                        displayTeams(response.list);
                        document.getElementById('teamCount').innerText = '(' + response.list.length + ')';
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error loading data:', error);
                }
            });
        }


        function displayTeams(teams) {
            const teamList = document.getElementById('teamList');
            teamList.innerHTML = '';
            teams.forEach(function (team) {
                var teamCard = document.createElement('div');
                teamCard.classList.add('col-md-4', 'mb-4', 'team-card');
                teamCard.innerHTML = `<div class="card shadow h-100">
                    <div class="card-body">
                        <h5 class="card-title">${team.teamName}</h5>
                        <p class="card-text">서비스: ${team.serviceName}</p>
                        <p class="card-text">status: ${team.isLeader?'Leader':'Member'}</p>
                        <p class="card-text">최초 게시일: ${team.createDate.substring(0, 10)}</p>
                        <p class="card-text">최종 수정일: ${team.modifyDate.substring(0, 10)}</p>
                        <form method="get" action='/team/detail/${team.teamSeq}'>
                            <button type="submit" class="btn btn-primary">details</button>
                        </form>
                    </div>
                </div>`;
                teamList.appendChild(teamCard);
            });
        }



    </script>

</head>

<body id="page-top" th:class="${bodyClass}">
<div class="header" th:replace="~{layouts/header :: header}"></div>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 여기가 사이드 바 -->
    <div class="header" th:replace="~{layouts/sidebar :: sidebar}"></div>

    <!-- 여기가 주 된 내용 -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid col-lg-9 mb-4">
                <div class="d-flex align-items-center my-team-title">
                    <h1 class="h3 text-gray-800">나의 팀 </h1>
                    <!-- 팀 수를 표시하는 부분입니다. 처음에는 0으로 설정됩니다 -->
                    <p class="h3 text-gray-800"><span id="teamCount">  (0)</span></p>
                </div>

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <div class="team-card">
                        <div class="card shadow h-100 add-team-card"
                             style="cursor:pointer; background-color: rgb(51,150,244) ">
                            <div class="card-body d-flex align-items-center">
                                <!-- "+" 아이콘 추가. FontAwesome 라이브러리를 사용합니다. -->
                                <i class="fas fa-plus-circle fa-2x"></i>
                                <h5 class="card-title ml-3">팀 추가하기</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Team List -->
                <div class="align-items-center mb-4">
                    <div id="teamList" class="row">
                        <!-- Team Card Example will be appended here -->
                    </div>
                </div>
                <!-- /.row -->

            </div>

        </div>

    </div>

</div>
<!-- 푸터 들어갈 자리 -->
<div class="footer" th:replace="~{layouts/footer :: footer}"></div>
<div class="modal fade" id="teamAddModal" tabindex="-1" role="dialog" aria-labelledby="teamAddModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamAddModalLabel">팀 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="teamForm" onsubmit="addTeam(event); return false;">
                    <div class="form-group">
                        <label for="teamName">팀 이름</label>
                        <input type="text" class="form-control" id="teamName" name="teamName" required>
                    </div>
                    <div class="form-group">
                        <label for="serviceName">서비스 이름</label>
                        <input type="text" class="form-control" id="serviceName" name="serviceName" required>
                    </div>
                    <div class="form-group">
                        <label for="email">이메일 추가</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group" id="domainGroup">
                        <label for="domainUrl">도메인 URL</label>
                        <div class="input-group">
                            <input type="url" class="form-control" id="domainUrl" name="domainUrl" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary"
                                        onclick="addInputField('domainGroup')">+
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="redirectGroup">
                        <label for="redirectUrl">리다이렉트 URL</label>
                        <div class="input-group">
                            <input type="url" class="form-control" id="redirectUrl" name="redirectUrl" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary"
                                        onclick="addInputField('redirectGroup')">+
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.add-team-card').addEventListener('click', function () {
            $('#teamAddModal').modal('show');
        });
    });

    function addTeam(event) {
        event.preventDefault();
        var formData = JSON.stringify({
            teamName: $('#teamName').val(),
            serviceName: $('#serviceName').val(),
            teamMember: [$('#email').val()], // If this should be an array
            domainUrl: [$('#domainUrl').val()],
            redirectionUrl: [$('#redirectUrl').val()]
        });
        var token = getCookie("access_token")
        $.ajax({
            url: 'http://localhost:8090/api/team',
            type: 'POST',
            contentType: 'application/json',
            data: formData,
            headers: {
                "Authorization": 'Bearer ' + token
            },
            success: function (response) {
                console.log(response)
                var teamName = response.vo.teamName || 'Name not returned'; // Fallback if response does not include the name
                var serviceName = response.vo.serviceName || 'Service not specified';
                var teamMember = response.vo.teamMember || 'No email returned';
                var domainUrl = response.vo.domainUrl || 'No domain returned';
                var redirectionUrl = response.vo.redirectionUrl || 'No redirect URL returned';

                var teamList = document.getElementById('teamList');
                var teamCard = document.createElement('div');
                teamCard.classList.add('col-md-4', 'mb-4', 'team-card');
                teamCard.innerHTML = `<div class="card shadow h-100">
                <div class="card-body">
                    <h5 class="card-title">${teamName}</h5>
                    <p class="card-text">서비스: ${serviceName}</p>
                    <p class="card-text">팀원: ${teamMember}</p>
                    <p class="card-text">도메인: ${domainUrl}</p>
                    <p class="card-text">리다이렉트: ${redirectionUrl}</p>
                </div>
            </div>`;
                teamList.appendChild(teamCard);

                $('#teamAddModal').modal('hide');
                document.getElementById('teamForm').reset();
                updateTeamCount();
                location.reload();
            },
            error: function (xhr, status, error) {
                alert('Error adding team: ' + error);
            }
        });
    }

    function getCookie(name) {
        var cookies = document.cookie.split(';');

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name + "=") === 0) {
                return cookie.substring(name.length + 1, cookie.length);
            }
        }
        // 해당 이름의 쿠키가 없으면 undefined 반환
        return undefined;
    }

    function updateTeamCount() {
        var teamCount = document.getElementById('teamCount');
        var currentCount = parseInt(teamCount.textContent.replace(/\D/g, ''));
        teamCount.textContent = ` (${currentCount + 1})`;
    }

    function addInputField(groupId) {
        var group = document.getElementById(groupId);
        var inputGroup = group.querySelector('.input-group').cloneNode(true);
        inputGroup.querySelector('input').value = '';
        group.appendChild(inputGroup);
    }
</script>


</body>

</html>