/* header.css */
.header-main {

    padding: 60px 0; /* 원하는 padding 값으로 조정 */
}

.navbar {
    border-radius: 0;
}


.navbar-brand {
    font-size: 1.5rem;
    /*color: #fff;*/
    color: #212121;
    color: blue;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
}

.form-control {
    border-radius: 0;
}
