.container-fluid > h1 {
    color: #4e73df;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px grey;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
}

.btn-primary::before {
    content: "+";
    display: inline-block;
    margin-right: 8px;
}

.btn-primary {
    min-width: 200px;
}

/* 제목과 카드 사이의 마진을 조절합니다 */
.h4.mb-4.text-gray-600 {
    margin-bottom: 20px;
}

/* "+" 아이콘과 "팀 추가하기" 텍스트 스타일 조절 */
.add-team-card .card-body {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-team-card .fas {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
}
.team-card {
    min-width: 100%; /* 예시로 너비를 늘리는 방법 */
    margin: auto;
}

