<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SSAFY Auth - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <!-- auto complete -->
    <script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
    <style>
        .team-contents {
            display: flex;
            flex-direction: row;
        }
        .my-team-title {
            margin: 50px 0 15px 0;
        }
        .team-content {
            margin-bottom: 1%;
        }
        #team-name-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 2%;
        }
        .img-content {
            padding: 10%;
        }
        .member-btn {
            background: white;
            border: none;
            margin-right: 2px;
            color: black;
        }
        .main-card {
            padding-right: 5%;
        }
        label {
            padding-top: 1%;
        }
        #team-name-update-container {
            display: flex;
            flex-direction: row;
        }
        .url-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
</head>
<body id="page-top" th:class="${bodyClass}">
<!-- 헤더 -->
<div class="header" th:replace="~{layouts/header :: header}"></div>
<!-- 헤더 -->
<div id="wrapper">
    <!-- 사이드 바 start -->
    <div class="header" th:replace="~{layouts/sidebar :: sidebar}"></div>
    <!-- 사이드 바 end -->
    <!-- 메인 컨텐츠 start -->
    <div id="content-wrapper" class="d-flex flex-column align-items-center">
        <div class="container my-team-title col-lg-9 mb-4" id="team-container">
            <!-- 팀 이름 section start -->
            <div id="team-name-container" class="card shadow bg-primary rounded">
                <h1 id="team-name" class="card-header text-light">Team Name</h1>
                <!-- 팀 이름 수정 dropdown start-->
                <button type="button" role="button" data-bs-toggle="dropdown" aria-expanded="false" class="bg-light dropdown-toggle btn btn-outline-primary" id="team-name-dropdown-btn"></button>
                <ul class="dropdown-menu container-fluid">
                    <li class="container-fluid">
                        <div class="dropdown-item input-group" id="team-name-update-container">
                            <label class="input-group-text">New Team Name</label>
                            <input type="text" class="form-control" id="team-name-new" placeholder="새로운 팀 이름을 입력해 주세요..."/>
                            <button type="button" class="input-group-append btn btn-outline-primary" id="team-name-update-btn">수정</button>
                        </div>
                    </li>
                </ul>
                <!-- 팀 이름 수정 dropdown end -->
            </div>
            <!-- 팀 이름 section end -->
            <!-- 팀 정보 section start -->
            <div class="team-contents shadow bg-body-tertiary rounded card">
                <!-- 팀 사진 card start -->
                <div class="col-3 team-content">
                    <img class="rounded-circle col-12 card-img img-content" src="/image/noimage.jpg" id="service-image">
                    <div class="col-12 justify-content-center d-flex img-content">
                        <button type="button" class="btn btn-outline-primary" style="margin-right: 10%;" data-bs-toggle="modal" data-bs-target="#image-update-modal">수정</button>
                        <btoon type="button" class="btn btn-outline-danger" id="service-image-delete-btn">삭제</btoon>
                    </div>
                </div>
                <!-- 팀 사진 card end -->
                <!-- 팀 정보 상세 card start -->
                <div class="col-9 card-body main-card" id="team-detail">
                    <!-- service name start -->
                    <div id="service-name-container" class="input-group team-content">
                        <label for="service-name" class="input-group-text">Service Name</label>
                        <input type="text" class="form-control" disabled id="service-name">
                        <button type="button" class="btn btn-outline-primary input-group-append" data-bs-toggle="modal" data-bs-target="#service-name-update-modal">수정</button>
                    </div>
                    <!-- service name end -->
                    <!-- client id start -->
                    <div id="client-id-container" class="team-content input-group">
                        <label form="client-id" class="input-group-text">Client ID</label>
                        <input id="client-id" class="form-control" disabled type="text"/>
                        <button id="client-id-copy-btn" class="btn btn-success input-group-append">Copy</button>
                    </div>
                    <!-- client id end -->
                    <!-- redirect urls start -->
                    <div id="redirect-url-container" class="team-content">
                        <div class="input-group" style="padding-bottom: 1%;">
                            <label class="input-group-text" for="temp-redirect-url">Redirect Urls</label>
                            <input class="form-control" type="text" id="temp-redirect-url" placeholder="새 리다이렉트 url을 입력해 주세요..."/>
                            <button type="button" class="btn btn-outline-primary input-group-append" id="redirect-url-add-btn">추가</button>
                        </div>
                        <ul id="redirect-url-list" class="list-group list-group-flush">
                        </ul>
                    </div>
                    <!-- redirect urls end -->
                    <!-- members start -->
                    <div id="members-container" class="team-content">
                        <div class="input-group" style="padding-bottom: 1%;">
                            <label class="input-group-text" for="temp-redirect-url">Members</label>
                            <input class="form-control typeahead" type="text" id="temp-member-email" placeholder="멤버로 추가할 개발자의 email을 입력하세요..." data-provide="typeahead"/>
                            <button type="button" class="btn btn-outline-primary input-group-append" id="member-add-btn">추가</button>
                        </div>
                        <ul id="member-list" class="list-group list-group-flush">
                        </ul>
                    </div>
                    <!-- members end -->
                </div>
                <!-- 팀 정보 상세 card start -->
            </div>
            <!-- 팀 정보 section end -->
        </div>
    </div>
    <!-- 메인 컨텐츠 end-->
</div>
<!-- 푸터 start -->
<div class="footer" th:replace="~{layouts/footer :: footer}"></div>
<!-- 푸터 end -->
<!-- 이미지 업데이트 모달 start -->
<div class="modal fade" id="image-update-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 모달 header start -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Upload Image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-image-update-modal-btn"></button>
            </div>
            <!-- 모달 header end -->
            <!-- 모달 body start -->
            <div class="modal-body">
                <input type="file" class="form-control-file form-control" id="temp-service-image">
            </div>
            <!-- 모달 body end -->
            <!-- 모달 footer start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="service-image-update-btn">수정</button>
            </div>
            <!-- 모달 footer end -->
        </div>
    </div>
</div>
<!-- 이미지 업데이트 모달 end -->
<!-- 서비스 명 업데이트 모달 start -->
<div class="modal fade" id="service-name-update-modal" tabindex="-1" aria-labelledby="serviceNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- 모달 header start -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="serviceNameModalLabel">Update Service Name</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-service-name-update-modal-btn"></button>
            </div>
            <!-- 모달 header end -->
            <!-- 모달 body start -->
            <div class="modal-body">
                <input type="text" class="form-control-file form-control" id="temp-service-name" placeholder="서비스 명을 입력해 주세요.">
            </div>
            <!-- 모달 body end -->
            <!-- 모달 footer start -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="service-name-update-btn">수정</button>
            </div>
            <!-- 모달 footer end -->
        </div>
    </div>
</div>
<!-- 서비스 명 업데이트 모달 end -->
</body>
<script>
    function getCookie(name) {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name + "=") === 0) {
                return cookie.substring(name.length + 1, cookie.length);
            }
        }
        // 해당 이름의 쿠키가 없으면 undefined 반환
        return undefined;
    }
    let access_token = getCookie('access_token');
    const teamSeq  = [[${teamSeq}]];
    console.log(teamSeq);
    fetch(`https://ssafyauth-resource.duckdns.org/api/team/${teamSeq}`, {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${access_token}`,
        }
    }).then(res => res.json()).then(data => {
        if(data.msg != null){
            alert(data.msg);
            return;
        }
        let team = data.team;
        console.log(team);
        document.getElementById("team-name").innerText = team.teamName;
        document.getElementById("service-name").value = team.serviceName;
        document.getElementById("client-id").value = team.clientId;
        let redirectUrl = team.redirectUrl;
        if(redirectUrl != null) {
            let liUrl = '';
            for (let i = 0; i < redirectUrl.length; i++) {
                liUrl += `<li class="list-group-item url-div" id="url-${redirectUrl[i]}">
                        <div>${redirectUrl[i]}</div><button type="button" class="btn btn-danger btn-sm" onclick="delete_redirect_url('${redirectUrl[i]}')">X</button>
                   </li>`
            }
            document.getElementById('redirect-url-list').innerHTML = liUrl;
        }
        let members = team.members;
        let liMember = '';
        for(let i = 0; i < members.length; i++){
            liMember += `<li class="list-group-item d-flex justify-content-between" id="member-${members[i].email}">
                            <div class="d-flex">
                                <div tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="${members[i].email}">
                                <button type="button" class="member-btn" disabled>${members[i].name}(${members[i].email})</button>
                                </div>
                                <span class="`;
            if(members[i].isLeader == true){
                liMember += `badge rounded-pill text-bg-primary align-self-center`;
            }else{
                liMember += `badge rounded-pill text-bg-dark align-self-center`;
            }
            liMember +=`">${members[i].isLeader ? "Leader" : "Member"}</span>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" onclick="delete_member('${members[i].email}')">X</button>
                         </li>`;
        }
        document.getElementById('member-list').innerHTML = liMember;
        if(team.image){
            document.getElementById("service-image").src = team.image;
        }
    });

    let updatedImageUrl = '';
    document.getElementById("temp-service-image").addEventListener('change', event =>{
        if(event.target.files[0]) {
            let data = new FormData();
            data.append('image', event.target.files[0]);
            fetch('https://ssafyauth-resource.duckdns.org/api/team/image', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${access_token}`,
                },
                body: data
            }).then(res => res.json()).then(data => {
                if(data.msg){
                    alert(data.msg);
                    return;
                }
                updatedImageUrl = data.url;
            });
        }
    });
    document.getElementById("service-image-update-btn").addEventListener('click', event => {
        let data = {
            url: updatedImageUrl,
        };
        fetch(`https://ssafyauth-resource.duckdns.org/api/team/[[${teamSeq}]]/image`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${access_token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(res => res.json()).then(data => {
            if(data.msg){
                alert(msg);
                return;
            }
            document.getElementById("close-image-update-modal-btn").click();
            document.getElementById("service-image").src = updatedImageUrl;
        });
    });
    document.getElementById("service-image-delete-btn").addEventListener('click', event => {
        if(confirm("서비스 이미지를 삭제 하시겠습니까?")){
            fetch(`https://ssafyauth-resource.duckdns.org/api/team/${teamSeq}/image/delete`, {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${access_token}`,
                },
            }).then(res => res.json()).then(data => {
                if(data.msg){
                    alert(data.msg);
                    return;
                }
                document.getElementById('service-image').src = '/image/noimage.jpg';
            });
        }
    });
    document.getElementById('team-name-update-btn').addEventListener('click', event => {
        let team_name = document.getElementById('team-name-new').value;
        if(team_name && team_name != ''){
            fetch(`https://ssafyauth-resource.duckdns.org/api/team/teamname/${teamSeq}`,{
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${access_token}`,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({team_name})
            }).then(res => res.json()).then(data => {
                if(data.msg){
                    alert(data.msg);
                    return;
                }
                alert('팀 이름이 ' + data.team_name + '으로 변경 되었습니다.');
                document.getElementById('team-name').innerText = data.team_name;
                document.getElementById('team-name-new').value = '';

            });
        }
    });
    const regex = /^[ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z0-9\s]*$/;
    document.getElementById('service-name-update-btn').addEventListener('click', e => {
        let temp_service_name = document.getElementById('temp-service-name').value;
        if(!temp_service_name){
            alert('서비스 명은 비어 있을 수 없습니다.');
            return;
        }
        if(!regex.test(temp_service_name)){
            alert('서비스 명으로 사용할 수 없는 문자열 입니다.');
            return;
        }
        fetch(`https://ssafyauth-resource.duckdns.org/api/team/servicename/${teamSeq}`,{
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${access_token}`,
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({'service_name': temp_service_name})
        }).then(res => res.json()).then(data => {
            if(data.msg){
                alert(data.msg);
                return;
            }
            document.getElementById('service-name').value = data.serviceName;
            document.getElementById('temp-service-name').value = '';
            document.getElementById('close-service-name-update-modal-btn').click();
            alert('서비스 명이 ' + data.serviceName + '으로 변경 되었습니다.');
        });
    });
    document.getElementById('redirect-url-add-btn').addEventListener('click', e => {
        const temp_redirect_url = document.getElementById('temp-redirect-url').value;
        if(!temp_redirect_url){
            alert('추가할 리다이렉트 url을 입력해 주세요.');
        }
        fetch('https://ssafyauth-resource.duckdns.org/api/team/redirect/regist',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access_token}`
            },
            body: JSON.stringify({'teamId': teamSeq, 'redirectUrl': temp_redirect_url})
        }).then(res => res.json()).then(data => {
            if(data == -2){
                alert('리다이렉트 url은 최대 6개까지 등록할 수 있습니다.');
                return;
            }
            if(data != 1){
                alert('잘못된 요청입니다.');
                return;
            }
            document.getElementById('temp-redirect-url').value = '';
            const url_list = document.getElementById('redirect-url-list');
            let lis = url_list.innerHTML;
            lis += `<li class="list-group-item url-div" id="url-${temp_redirect_url}">
                        <div>${temp_redirect_url}</div><button type="button" class="btn btn-danger btn-sm" onclick="delete_redirect_url('${temp_redirect_url}')">X</button>
                   </li>`
            url_list.innerHTML = lis;
            alert('리다이렉트 url이 추가 되었습니다.');
        });
    });
    document.getElementById('member-add-btn').addEventListener('click', e => {
        const email = document.getElementById('temp-member-email').value;
        if(!email){
            alert('이메일을 입력해 주세요...');
            return;
        }
        fetch(`https://ssafyauth-resource.duckdns.org/api/team/${teamSeq}/member/${email}`, {
            method: 'POST',
            headers: {'Authorization': `Bearer ${access_token}`}
        }).then(res => res.json()).then(data => {
            if(data.msg){
                alert(data.msg);
                return;
            }
            let member = data.member;
            let liMember = document.getElementById('member-list').innerHTML;
            liMember += `<li class="list-group-item d-flex justify-content-between" id="member-${member.email}">
                            <div class="d-flex">
                                <div tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="${member.email}">
                                <button type="button" class="member-btn" disabled>${member.name}(${member.email})</button>
                                </div>
                                <span class="`;
            liMember += `badge rounded-pill text-bg-dark align-self-center`;
            liMember +=`">Member</span>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" onclick="delete_member('${member.email}')">X</button>
                         </li>`;
            document.getElementById('member-list').innerHTML = liMember;
            document.getElementById('temp-member-email').value = '';
        });
    });
    function delete_redirect_url(url) {
        console.log(url);
        fetch('https://ssafyauth-resource.duckdns.org/api/team/redirect/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access_token}`
            },
            body: JSON.stringify({
                'teamId': teamSeq,
                'redirectUrl': url
            })
        }).then(res => res.json()).then(data => {
            if(data != 1) {
                alert('잘못된 요청입니다.');
            }else{
                const li = document.getElementById(`url-${url}`);
                li.remove();
                alert('redirect url이 삭제 되었습니다.');
            }
        });
    }
    function delete_member(email) {
        fetch(`https://ssafyauth-resource.duckdns.org/api/team/${teamSeq}/member/${email}/delete`, {
            method: 'POST',
            headers: {'Authorization': `Bearer ${access_token}`},
        }).then(res => res.json()).then(data => {
            if(data.msg){
                alert(data.msg);
                return;
            }
            const li = document.getElementById(`member-${email}`);
            li.remove();
            alert(email + '이 팀에서 삭제 되었습니다.');
        });
    }
</script>
<script type="module">
    function getCookie(name) {
        let cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name + "=") === 0) {
                return cookie.substring(name.length + 1, cookie.length);
            }
        }
        // 해당 이름의 쿠키가 없으면 undefined 반환
        return undefined;
    }
    let access_token = getCookie('access_token');
    const teamSeq  = [[${teamSeq}]];
    import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";
    const items = {};
    const options = {
        items,
        onRenderItem: (item, label) => {
            return label + " (" + item.value + ")";
        }
    }
    Autocomplete.init("input.typeahead", options);
    document.getElementById('temp-member-email').addEventListener('input', e => {
        const email = document.getElementById('temp-member-email').value;
        if(!email){
            return;
        }
        fetch(`https://ssafyauth-resource.duckdns.org/api/team/member/${email}`, {method: 'GET', headers: {'Authorization': `Bearer ${access_token}`}}).then(res => res.json()).then(data => {
            const items = {};
            let options = {};
            if(data.msg){
                items[`${data.msg}`] = `${email}`;
                options = {
                    items,
                    onRenderItem: (item, label) => {
                        return item.label + "에 관한 " + item.value + " !";
                    }
                }
                new Autocomplete(document.getElementById('temp-member-email'), options);
            }else {
                const developers = data.list;
                for (let i = 0; i < developers.length; i++) {
                    items[`${developers[i].name}`] = `${developers[i].email}`;
                }
                options = {
                    items,
                    onRenderItem: (item, label) => {
                        return item.value + " (" + label + ")";
                    }
                }
                new Autocomplete(document.getElementById('temp-member-email'), options);
            }
        });
    });
</script>
</html>