<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .card-body>.row>.col-12 {
            margin-top: 50px;
            margin-bottom: 10px;
        }
        /* 서비스 이름과 서비스 키 폰트를 동일하게 조정합니다. */
        #serviceName, #serviceKey {
            font-size: 1.25rem;
            font-weight: bold;
        }
        /* 복사 버튼과 재발급 버튼의 크기와 너비를 조정합니다. */
        .btn-primary, .btn-danger {
            padding: 0.375rem 1.5rem;
            font-size: 1rem;
            min-width: 100px;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SSAFY Auth - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- 페이지 로딩될 때 데이터 fetch -->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script type="module" th:src="@{/js/sidebar.js}"></script>
    <script th:inline="javascript">
        window.onload = function () {
            var teamSeq = window.location.pathname.match(/\/teams\/(\d+)\/summary/)[1];
            loadTeamData(teamSeq);

        };

        function getCookie(name) {
            let value = `; ${document.cookie}`;
            let parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        var teamDetail;

        function loadTeamData(teamSeq) {
            var token = getCookie("access_token");
            if (!token) {
                console.error("Access token이 없습니다.");
                return;
            }
            var url = 'http://localhost:8090/api/team/' + teamSeq;
            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json',
                headers: {
                    "Authorization": 'Bearer ' + token
                },
                success: function (response) {
                    console.log("서버에서 받은 데이터:", response);
                    teamDetail = response.value;
                    displayTeamInfo(response.team);
                },
                error: function (xhr, status, error) {
                    console.error('데이터를 불러오는 중 오류가 발생했습니다:', error);
                }
            });
        }

        function displayTeamInfo(teamDetail) {
            document.getElementById('teamNameHeading').innerText = teamDetail.teamName;
            document.getElementById('serviceName').innerText = teamDetail.serviceName;
            document.getElementById('serviceKey').innerText = teamDetail.serviceKey;
        }

        function copyServiceKey() {
            var serviceKeyElement = document.getElementById('serviceKey');
            var serviceKey = serviceKeyElement.innerText;
            var tempTextArea = document.createElement('textarea');
            tempTextArea.value = serviceKey;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand('copy');
            document.body.removeChild(tempTextArea);
            alert('서비스 키가 복사되었습니다.');
        }

        function reclaimServiceKey() {
            var teamSeq = window.location.pathname.match(/\/teams\/(\d+)\/summary/)[1];
            var token = getCookie("access_token");
            $.ajax({
                url: 'http://localhost:8090/api/team/key/reclaim/' + teamSeq,
                type: 'POST',
                contentType: 'application/json',
                headers: {
                    "Authorization": 'Bearer ' + token
                },
                success: function (response) {
                    if (response.result) {
                        alert('서비스 키가 성공적으로 재발급되었습니다.');
                    } else {
                        alert('서비스 키 재발급 중 오류가 발생했습니다.');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error reclaiming service key:', error);
                    alert('서비스 키 재발급 중 오류가 발생했습니다.');
                }
            });
        }



    </script>
</head>

<body id="page-top" th:class="${bodyClass}">
<div class="header" th:replace="~{layouts/header :: header}"></div>
<div id="wrapper">
    <div class="header" th:replace="~{layouts/sidebar :: sidebar}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid mb-4"
                 style="max-width: 100%; padding-top: 60px; padding-left: 50px; padding-right: 50px;">
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div style="margin-bottom: 30px;">
                            <h1 class="h3 text-gray-800" id="teamNameHeading">팀 이름</h1>
                        </div>
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-12 mb-3">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                             style="margin-bottom: 10px;">
                                            서비스 이름
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceName">서비스
                                            이름</div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                             style="margin-bottom: 10px;">
                                            서비스 키
                                        </div>
                                        <div class="input-group">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="serviceKey">서비스
                                                키</div>
                                            <div class="btn-group" style="margin-left: 10px;">
                                                <button class="btn btn-primary"
                                                        onclick="copyServiceKey()">복사</button>
                                                <button class="btn btn-danger"
                                                        onclick="reclaimServiceKey()">재발급</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:replace="~{layouts/footer :: footer}"></div>
    </div>
</div>



<script th:inline="javascript">
</script>
</body>

</html>
