<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="footer" class="footer mt">
    <footer class="text-dark pt-4 pb-4">
        <div class="container">
            <div class="row">
                <!-- 로고 섹션 -->
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <div class="logo">
                        <img th:src="@{/image/ssafy_f_logo.png}" alt="로고 이미지" class="img-fluid">
                    </div>
                </div>

                <!-- 저작권 정보 섹션 -->
                <div class="col-12 col-md-6 text-center text-md-right">
                    <div class="copy kor mb-2">
                        본 사이트의 콘텐츠는 저작권법의 보호를 받는 바 무단 전재, 복사, 배포 등을 금합니다.
                    </div>
                    <div class="copy">
                        &copy; 2024 SSAFY A306 19class. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
