<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Bootstrap CSS 추가 -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark" style="padding: 1rem; border-bottom: 1px solid #ddd;">
        <a class="navbar-brand" href="/" style="color: #212121;">
            <img src="/image/ssafy_logo2.png" alt="SSAFY Logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div>
            </div>
            <ul class="navbar-nav ml-auto"> <!-- ml-auto를 사용하여 오른쪽으로 정렬 -->
                <li class="nav-item">
                    <a class="nav-link" style="color: #212121; font-size: 20px" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                    <a class="nav-link" style="color: #212121; font-size: 20px" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- 필요한 JavaScript -->
<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
