<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>싸오스 권한페이지</title>
    <script>
        function cancelConsent() {
            document.consent_form.reset();
            document.consent_form.submit();
        }
    </script>
</head>

<body>
<div class="consent-page">
    <div class="consent">
        <div>
            <h1>싸오스 권한 페이지</h1>
        </div>
        <div>
            <div th:if="${image != null}">
                <img th:src="${image}" alt="Service Image" width="50%">
            </div>
            <div th:if="${image == null}">
                <img th:src="@{/image/ssafy_logo.png}" alt="Default Image" width="50%">
            </div>
        </div>
        <div>
            <div>
                <p th:text="${clientName + ' 서비스에 제공할 데이터를 선택해주세요.'}"></p>
                <br>
                <p>유저 이메일과 이름은 필수 항목입니다.</p>
            </div>
        </div>
        <div>
            <div>

            </div>
        </div>
        <div>
            <div>
                <form name="consent_form" method="post" th:action="@{/oauth2/authorize}">
                    <input type="hidden" name="client_id" th:value="${clientId}">
                    <input type="hidden" name="state" th:value="${state}">

                    <div th:each="scope: ${scopes}">
                        <input class="form-check-input" type="checkbox" name="scope" th:value="${scope.scope}"
                               th:id="${scope.scope}">
                        <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
                        <p th:text="${scope.description}"></p>
                    </div>

                    <p th:if="${not #lists.isEmpty(previouslyApprovedScopes)}">
                        이미 동의한 권한 목록 입니다.:</p>
                    <div th:each="scope: ${previouslyApprovedScopes}">
                        <input class="form-check-input" type="checkbox" th:id="${scope.scope}" disabled checked>
                        <label th:for="${scope.scope}" th:text="${scope.scope}"></label>
                        <p th:text="${scope.description}"></p>
                    </div>

                    <div>
                        <button class="button" type="submit" id="submit-consent">
                            계속하기
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="button" type="button" id="cancel-consent" onclick="cancelConsent();">
                            취소하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div>
                <p>
                    <small>
                        액세스 제공에 대한 귀하의 동의가 필요합니다. <br>
                        승인하지 않을 경우 취소를 클릭하세요. 이 경우 앱과 정보가 공유되지 않습니다.
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        const checkRequiredScopes = ["openid", "profile"];
        const checkRequiredPresent = checkRequiredScopes.some(scope => {
            let checkbox = document.getElementById(scope);
            return checkbox && checkbox.checked;
        });

        if (checkRequiredPresent) {
            return; // 폼 제출 계속 진행
        }

        const alwaysRequiredScopes = ['email','image'];
        const allRequiredPresent = alwaysRequiredScopes.every(scope => {
            let checkbox = document.getElementById(scope);
            return checkbox && checkbox.checked;
        });
        if (!allRequiredPresent) {
            event.preventDefault();
            alert("이메일과 이미지는 필수입니다.");
        }
    });
</script>
</body>

</html>