<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>비밀번호 찾기</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" />
  <style>
    .verification-controls { display: none; margin-top: 10px; }
    #emailVerificationCode { width: calc(100% - 120px); }
    #verificationTimer { display: block; margin-top: 5px; font-size: 12px; }
    .invalid-feedback { color: red; display: none; }
    .valid-feedback { color: blue; display: none; }
  </style>
</head>
<body class="bg-gradient-primary" style="background-color: #ffffff">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">임시 비밀번호 발급</h1>
                  <p class="mb-4">입력하신 이메일로 임시 비밀번호를 발급해드립니다.</p>
                </div>
                <form id="resetPasswordForm">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="이메일을 입력해주세요" required />
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">발급하기</button>
                </form>
                <hr />
                <div class="text-center">
                  <a class="small" href="login">로그인하기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="js/sb-admin-2.min.js"></script>
<script>
  document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
    event.preventDefault();
    const email = document.getElementById('exampleInputEmail').value;
    if (email) {
      fetch('http://localhost:9000/forgot_password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ userEmail: email })
      })
              .then(response => response.json())
              .then(data => {
                if (data.result) {
                  alert("임시 비밀번호 발급에 성공했습니다. 이메일을 확인해주세요.")
                  window.location.href = 'login'; // 성공 시 로그인 페이지로 리다이렉트
                } else {
                  alert('임시 비밀번호 발급에 실패했습니다.');
                }
              })
              .catch(error => {
                console.error('Error:', error);
                alert('서버에 문제가 발생했습니다.');
              });
    } else {
      alert('유효한 이메일 주소를 입력해주세요.');
    }
  });
</script>
</body>
</html>
