<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>비밀번호 찾기</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

  <!-- Custom styles for this template-->
  <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}" />
  <style>
    .verification-controls {
      display: none;
      margin-top: 10px;
    }

    .verification-controls .btn {
      /*margin-top: 10px;*/
    }

    /* Adjusting the width of the verification code input field */
    #emailVerificationCode {
      width: calc(100% - 120px); /* Adjust the width as needed */
    }

    #verificationTimer {
      display: block;
      margin-top: 5px;
      font-size: 12px;
    }

    .invalid-feedback {
      color: red;
      display: none;
    }

    .valid-feedback {
      color: blue;
      display: none;
    }
  </style>
</head>
<body class="bg-gradient-primary" style="background-color: #ffffff">
<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">비밀번호 재설정</h1>
                  <br />
                  <p class="mb-4">인증코드를 입력한 후, 비밀번호를 재설정해주세요.</p>
                </div>
                <div class="form-group">
                  <input
                          type="password"
                          class="form-control form-control-user"
                          id="exampleInputPreviousPassword"
                          name="oldPassword"
                          placeholder="이전 비밀번호"
                  />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                            type="password"
                            class="form-control form-control-user"
                            id="exampleInputPassword"
                            name="newPassword"
                            placeholder="비밀번호"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                            type="password"
                            class="form-control form-control-user"
                            id="exampleRepeatPassword"
                            placeholder="비밀번호 재입력"
                    />
                    <div
                            class="invalid-feedback"
                            id="passwordMismatchMessage"
                    >
                      비밀번호가 일치하지 않습니다.
                    </div>
                    <div class="valid-feedback" id="passwordMatchMessage">
                      비밀번호가 일치합니다.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input
                            type="email"
                            class="form-control form-control-user"
                            id="exampleInputEmail"
                            placeholder="이메일을 입력해주세요"
                    />
                    <div class="input-group-append">
                      <button
                              type="button"
                              class="btn btn-primary"
                              id="emailVerificationBtn"
                      >
                        인증 요청
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Verification code input field -->
                <div
                        class="form-group verification-controls"
                        id="verificationCodeGroup"
                >
                  <div class="input-group">
                    <input
                            type="text"
                            class="form-control form-control-user"
                            id="emailVerificationCode"
                            placeholder="인증 코드를 입력하세요."
                    />
                    <div class="input-group-append">
                      <button
                              type="button"
                              class="btn btn-primary"
                              id="verifyCodeBtn"
                      >
                        인증 확인
                      </button>
                    </div>
                  </div>
                  <span id="verificationTimer"></span>
                </div>
                <button
                        type="submit"
                        class="btn btn-primary btn-user btn-block"
                        id="resetPasswordBtn"
                        disabled
                >
                  비밀번호 재설정
                </button>
                <hr />
                <div class="text-center">
                  <a class="small" href="login">로그인하기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

<script>
  document
          .getElementById("emailVerificationBtn")
          .addEventListener("click", function () {
            document.getElementById("verificationCodeGroup").style.display =
                    "block";
            var countdown = 5; // 10 minutes in seconds
            var timer = setInterval(function () {
              countdown--;
              var minutes = Math.floor(countdown / 60);
              var seconds = countdown % 60;
              document.getElementById("verificationTimer").textContent =
                      " (제한시간: " +
                      minutes.toString().padStart(2, "0") +
                      ":" +
                      seconds.toString().padStart(2, "0") +
                      ")";
              if (countdown <= 0) {
                clearInterval(timer);
                document.getElementById("emailVerificationCode").placeholder =
                        "시간이 초과되었습니다.";
              }
            }, 1000);
          });

  document
          .getElementById("exampleRepeatPassword")
          .addEventListener("keyup", function () {
            var password = document.getElementById("exampleInputPassword").value;
            var repeatPassword = document.getElementById(
                    "exampleRepeatPassword"
            ).value;
            if (password === repeatPassword) {
              document.getElementById("passwordMismatchMessage").style.display =
                      "none";
              document.getElementById("passwordMatchMessage").style.display =
                      "block";
              document.getElementById("resetPasswordBtn").disabled = false;
            } else {
              document.getElementById("passwordMismatchMessage").style.display =
                      "block";
              document.getElementById("passwordMatchMessage").style.display =
                      "none";
              document.getElementById("resetPasswordBtn").disabled = true;
            }
          });

  document
          .getElementById("resetPasswordBtn")
          .addEventListener("click", function () {
            var password = document.getElementById("exampleInputPassword").value;
            var repeatPassword = document.getElementById(
                    "exampleRepeatPassword"
            ).value;
            if (password !== repeatPassword) {
              alert("비밀번호가 일치하지 않습니다.");
              return false; // 폼 제출 방지
            }
          });

  document.getElementById("resetPasswordBtn").addEventListener("click", function () {
    var oldPassword = document.getElementById("exampleInputPreviousPassword").value;
    var newPassword = document.getElementById("exampleInputPassword").value;
    var repeatPassword = document.getElementById("exampleRepeatPassword").value;
    // 비밀번호 확인
    if (newPassword !== repeatPassword) {
      alert("비밀번호가 일치하지 않습니다.");
      return false; // 폼 제출 방지
    }

    // POST 요청 보내기
    var xhr = new XMLHttpRequest();
    xhr.open("POST", "http://localhost:9000/reset_password", true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
      alert("비밀번호 재설정에 성공했습니다.")
      window.location.href = "login"; // 로그인 페이지의 URL로 이동
      }
    };
    var data = JSON.stringify({ "oldPassword": oldPassword, "newPassword": newPassword });
    xhr.send(data);
  });
</script>
</body>
</html>
